@import '../mixins';

.client {
    background: #fff;
    // box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
    @include shadow-block (50px, 50px);
    border-radius: 2px;
    position: absolute;
    bottom: -114px;
    right: 0;

    

    &__block {
        @include flex-container(space-between, center);
        padding: 60px 125px 54px 65px;
    }

    img + img {
        padding-right: 66px;
    }
}