.main {
    position: relative;
    background: {
        image: url(../../public/images/slider.jpg);
        size: 1441px, cover;
        repeat: no-repeat;
        position: center center;
    }
}
@import './header';
@import './client';