@import '../mixins';

.slider {
    $color-white: #fff;
    $color-yellow: #FFD723;

    &__label {
        @include text-label ($color-white);
    }
    
    &__title {
        @include text-title (60px, 74px, $color-white);
        padding-top: 22px;
        padding-bottom: 24px;
    }
    
    &__decription {
        @include text-decription ($color-white);
        padding-bottom: 45px;
    }

    &__link-block {
        padding-bottom: 210px;
    }
    
    &__link {
        @include text-link ($color-yellow);
    }
}