@import '../mixins';

.footer {

    background-color: #4F553D;
    @include background-image('../../public/images/bg-footer.jpg', left);
    @include padding(120px, 164px, 30px, 165px);

    &__contacts {
        max-width: 470px;
        min-height: 88px;
        @include flex-container(flex-start, flex-start);
        @include margin(185px, 0, 40px, 0);
    }
    
    &__contacts-block {
        @include padding(0, 68px, 0, 0);
    }
    
    &__title {
        @include contacts-title;
    }
    
    &__text {
        @include contacts-text;
    }

    &__block-nav {
        @include flex-container(space-between, flex-start);
        @include border-top-bottom;
    }
    
    .nav {
        @include flex-container(space-between, flex-start);
        @include border-right;
        @include margin(60px, 0, 60px, 0);

        &__block {
             

            &_first {
                @include padding(0, 70px, 0, 0);
            }

            &_second {
                @include padding(0, 100px, 0, 0);
            }

            &_third {
                @include padding(0, 80px, 0, 0);
            }
        }
        
        &__title {
            @include footer-title;
        }
        
        &__list {
            @include padding(0, 0, 60px, 0);
        }
        
        &__list-item {
            @include nav-decription;
        }
        
        &__link {
            @include nav-link;
        }
    }

    .social {

        &__title {
            @include nav-title(60px, 21px);
        }
        
        &__text {
            @include nav-decription;
            color: #B6C197;
        }
        
        &__e-mail {
            @include text-title(24px, 38px, #FFFFFF, 23px, 24px);
        }
        
        &__icon-block {
            @include flex-container(space-between, center);
            max-width: 200px;
        }       
        
        &__item:not(:last-of-type) {
           margin-right: 10px;
        }

        &__link {
            width: 33px;
            height: 33px;
            @include flex-container(center, center);
            background-color: #444A34;;
            border-radius: 50%;
            transition: all .3s;

            &:hover {
                background-color: #FFD723;
            }
        }
      
        & svg {
            width: 15px;
            color: #5E6648;
            transition: all .3s;

            & .big{
                width: 25px;
            }

            &:hover {
                color: #FFFFFF;
            }
        }   
    }

    &__copyright {
        @include margin(30px, 0, 0, 0);
        @include flex-container(space-between, center);
    }
    
    .logo {

    }
    
    &__copyright-text {
        @include copyright-text;
    }
}