$container-width: 1110px;

%container {
    max-width: $container-width;
    margin: 0 auto;
}

/* background-image */

@mixin background-image($url, $position) {
    background-image: url($url);
    background-repeat: space;
    background-position: $position;
}
/* container */

@mixin container($horisontal) {
    max-width: $horisontal;
    margin: 0 auto;
}

@mixin size($width, $height) {
    width: $width;
    height: $height;
}

@mixin position-top-right($top, $right) {
    position: absolute;
    top: $top;
    right: $right;
}

@mixin position-bottom-left($bottom, $left) {
    position: absolute;
    bottom: $bottom;
    left: $left;
}

@mixin project-before-after($top, $left) {
    content: '';
    display: block;
    width: 1110px;
    height: 1px;
    background: rgba(33, 56, 66, 0.0955529);
    position: absolute;
    top: $top;
    left: $left;
}

@mixin footer-nav-before-after($top, $left) {
    content: '';
    display: block;
    width: 1110px;
    height: 1px;
    background: #5D6544;
    position: absolute;
    top: $top;
    left: $left;
}

@mixin footer-nav-before($top, $left) {
    content: '';
    display: block;
    width: 1px;
    height: 210px;
    background: #5D6544;
    position: absolute;
    top: $top;
    left: $left;
}

@mixin footer-nav-icon($top, $left) {
    content: '';
    display: block;
    width: 1px;
    height: 210px;
    background: #5D6544;
    position: absolute;
    top: $top;
    left: $left;
}

/* flex-items */

@mixin flex-container($horisontal, $vertical) {
    display: flex;
    justify-content: $horisontal;
    align-items: $vertical;
}

@mixin flex-container-column {
    display: flex;
    flex-direction: column;
    justify-content: $horisontal;
    align-items: $vertical;
}

@mixin margin($m-top, $m-right, $m-bottom, $m-left) {
    margin-top: $m-top;
    margin-right: $m-right;
    margin-bottom: $m-bottom;
    margin-left: $m-left;
}

@mixin padding($p-top, $p-right, $p-bottom, $p-left) {
    padding-top: $p-top;
    padding-right: $p-right;
    padding-bottom: $p-bottom;
    padding-left: $p-left;
}

/* content */

@mixin text-label($color) {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: $color;
}

@mixin text-title($font-size, $line-height, $color, $p-top, $p-bottom) {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    padding-top: $p-top;
    padding-bottom: $p-bottom;
}

@mixin rating-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 34px;
    color: #4D533C;
    text-transform: uppercase;
}

@mixin contacts-title {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
    color: #B6C197;
}

@mixin nav-title($p-top, $p-bottom) {
    font-family: Poppins;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 38px;
    text-transform: uppercase;
    color: #FFFFFF;
    padding-top: $p-top;
    padding-bottom: $p-bottom;
}

@mixin text-decription($color, $p-bottom) {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color: $color;
    padding-bottom: $p-bottom;
}

@mixin rating-decription {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: rgba(33, 56, 66, 0.6);
    padding-top: 20px;
    padding-bottom: 56px;
}

@mixin nav-decription {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 40px;
}

@mixin contacts-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: #FFFFFF;
}

@mixin text-link ($color) {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    text-decoration-line: underline;
    color: $color;
}

@mixin copyright-text {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    color: #B5C096;
}

@mixin rating-link {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    text-decoration-line: underline;
    color: #D4D6D4;
}

@mixin nav-link {
    color: #B6C197;
}

@mixin yellow-hover {
    color: #FFD723;
}



@mixin company-decription($font-size, $line-height, $p-top, $p-right, $p-bottom, $p-left) {
    font-family: Poppins;
    font-style: italic;
    font-weight: normal;
    font-size: $font-size;
    line-height: $line-height;
    color: #4D533C;
    padding-top: $p-top;
    padding-right: $p-right;
    padding-bottom: $p-bottom;
    padding-left: $p-left;
}

@mixin founder-position($font-size, $line-height, $color, $p-bottom) {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
    padding-bottom: $p-bottom;
}

/* box-shadow */

@mixin shadow-block($horizontal, $vertical) {
    box-shadow: $horizontal $vertical 100px rgba(0, 0, 0, 0.145947);
}

@mixin shadow-logo  {
    box-shadow: 20px 25px 43px rgba(0, 0, 0, 0.18);
    border-radius: 50%;
}