/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::after,
*::before {
  box-sizing: border-box; }

@font-face {
  font-family: 'Poppins';
  src: url("../../public/fonts/Poppins/Poppins Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }
@font-face {
  font-family: 'Poppins';
  src: url("../../public/fonts/Poppins/Poppins Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }
@font-face {
  font-family: 'Poppins';
  src: url("../../public/fonts/Poppins/Poppins Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }
@font-face {
  font-family: 'Poppins';
  src: url("../../public/fonts/Poppins/Poppins Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }
body {
  font-family: 'Poppins', sans-serif; }

.main {
  position: relative;
  background-image: url(../../../public/images/slider.jpg);
  background-size: 1441px, cover;
  background-repeat: no-repeat;
  background-position: center center; }

.header {
  max-width: 1110px;
  margin: 0 auto; }

/* flex-items */
.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 121px; }
  .nav-bar__burger-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #f5f6f7; }

.slider__label {
  font-size: 14px;
  line-height: 21px;
  color: #fff; }
.slider__title {
  font-weight: bold;
  font-size: 60px;
  line-height: 74px;
  color: #fff;
  padding-top: 22px;
  padding-bottom: 24px; }
.slider__decription {
  font-size: 16px;
  line-height: 26px;
  color: #fff;
  padding-bottom: 45px; }
.slider__link-block {
  padding-bottom: 210px; }
.slider__link {
  font-size: 16px;
  line-height: 18px;
  text-decoration-line: underline;
  color: #FFD723; }

.client {
  background: #fff;
  box-shadow: 50px 50px 100px rgba(0, 0, 0, 0.145947);
  border-radius: 2px;
  position: absolute;
  bottom: 0;
  right: 0;
  /* flex-items */ }
  .client .header {
    max-width: 1110px;
    margin: 0 auto; }
  .client__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 165px 54px 65px; }
  .client img + img {
    padding-right: 66px; }

/*# sourceMappingURL=main.css.map */
