.project {
    position: relative;

    &::before {
        content: '';
        display: block;
        width: 1110px;
        height: 1px;
        background: rgba(33, 56, 66, 0.0955529);
        position: absolute;
        top: 0;
        left: 120px;
    }

    &::after {
        content: '';
        display: block;
        width: 1110px;
        height: 1px;
        background: rgba(33, 56, 66, 0.0955529);
        position: absolute;
        left: 120px;
        bottom: -180px;
   }

    @import '../mixins';
    &__block {
        position: relative;
        // background-color: green;
        @include container(976px);
        @include flex-container(center, center);   
    }
    
    &__title {
        @include text-title (36px, 54px, #4D533C, 150px, 110px);
        padding-right: 133px;
    }
    
    &__decription {
        @include text-decription (rgba(33, 56, 66, 0.6), 0)
    }
}

@import './feature-product';
// @import './feature-product_reverse';