@import '../mixins';

.project {
    position: relative;

    &::before {
        @include project-before-after(0, 120px);
    }

    &::after {
        @include project-before-after(120px, -180px);
   }

    &__block {
        position: relative;
        @include container(976px);
        @include flex-container(center, center);   
    }
    
    &__title {
        @include text-title (36px, 54px, #4D533C, 150px, 110px);
        padding-right: 133px;
    }
    
    &__decription {
        @include text-decription (rgba(33, 56, 66, 0.6), 0)
    }
}

@import './feature-product';
// @import './feature-product_reverse';